
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
a
{
    font-size: 17px;
    background: rgb(49, 50, 59);
    margin: 5px;

}
body
{
    background-position: center;
    background-size: cover;
}